body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
}

.wadah {
    width: 350px;
    background-color: #ffffff;
    box-shadow: 5px 5px #00d41a;
    padding: 16px;
    border: 2.5px solid black;
    border-radius: 8px;
}

.wadah nav {
    padding: 16px;
}

.penghalang {
    min-height: 1px;
    background-color: black;
    border-radius: 4px;
}

.judul {
    font-size: 50px;
    background: linear-gradient(to right, #1be6ff, #5f5f5f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    border: none;
    padding: 10px;
    background: linear-gradient(to right, #b1b7a2, #6ce6ff);
    font-size: 15px;
    border: 0.5px solid black;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.cm {
    padding: 16px;
}

.button:active {
    background-color: grey;
}